@page
@model app.Pages.IndexModel
@{
    <!DOCTYPE html>
    <html>
    <head>
        <script>
            window.location.href = "/Clientes";
        </script>
    </head>
    <body>
        <!-- Conteúdo da sua página -->
    </body>
    </html>

}
