@page
@model NovoModel
@{
    ViewData["Title"] = "Novo Cliente";
}

<h1>@ViewData["Title"]</h1>

<form method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="Cliente.nome">Nome</label>
        <input asp-for="Cliente.nome" required="true" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Cliente.email">E-mail</label>
        <input asp-for="Cliente.email" required="true" class="form-control" />
    </div>        
    <div class="form-group">
        <label asp-for="Cliente.imagem">Logotipo</label>
        <input type="file" asp-for="Cliente.imagem" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Salvar</button>
    @if (!ViewData.ModelState.IsValid)
    {
        <div class="alert alert-danger">
            @Html.ValidationSummary()
        </div>
    }

</form>


